.magnifier {
	position: fixed;
	left: 50%;
	top: 50%;

	pointer-events: none;
}

.magnifier-lens {

	width: 48vmax;
	height: 48vmax;
	min-width: $base_width;
	min-height: $base_height;

	transform: translate(-50%, -50%);
	border-radius: 50%;
	overflow: hidden;

	// https://gist.github.com/ayamflow/b602ab436ac9f05660d9c15190f4fd7b
	-webkit-mask-image: -webkit-radial-gradient(white, black);
}

.magnifier-lens_inner {
	position: absolute;
	left: 50%;
	top: 50%;
}

.magnifier-content_wrapper {
	transform: translate(-50%, -50%);
}

.magnifier-content {
	width: 100%;
	height: 100%;
}

.magnifier-content_inner {
	position: relative;
}
