<%
const	site= {
	title: 'JAGDA New Designer Awards Exhibition 2018  [Aki Kanai / Masaki Hanahara / Takuma Fukuzawa]',
	origin: 'https://xn--jagda2018-4q7nr43r5ixf.com/',
	description: '2018年5月24日（木）から6月26日（火）までクリエイションギャラリーG8で開催される「JAGDA新人賞展2018 金井あき・花原正基・福澤卓馬」の特設サイトです。',
	keywords: '',
	ga: 'UA-118312632-1',
	name_aki: '金井あき / Aki Kanai',
	name_makaki: '花原正基 / Masaki Hanahara',
	name_aki: '福澤卓馬 / Takuma Fukuzawa'
};
%>

<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title><%- site.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="description" content="<%- site.description %>">
	<meta name="keywords" content="<%- site.keywords %>">
	<meta property="og:type" content="website">
	<meta property="og:title" content="<%- site.title %>">
	<meta property="og:description" content="<%- site.description %>">
	<meta property="og:image" content="<%- site.origin %>images/og-image.png">
	<meta property="og:url" content="<%- site.origin %>">
	<meta property="og:site_name" content="<%- site.title %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%- site.title %>">
    <meta name="twitter:description" content="<%- site.description %>">
    <meta name="twitter:image:src" content="<%- site.origin %>images/og-image.png">
    <link rel="apple-touch-icon" href="<%- site.origin %>images/icon-image/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="<%- site.origin %>images/icon-image/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="<%- site.origin %>images/icon-image/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="<%- site.origin %>images/icon-image/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="<%- site.origin %>images/icon-image/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="<%- site.origin %>images/icon-image/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="<%- site.origin %>images/icon-image/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="<%- site.origin %>images/icon-image/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%- site.origin %>images/icon-image/apple-touch-icon-180x180.png" />
    <meta name="msapplication-TileImage" content="<%- site.origin %>images/icon-image/ms-icon-144x144.png">
	<link rel="icon" href="/images/favicon.ico">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>

	<div class="main">

		<div class="wrapper_full hero">
			<div class="title">
				<div class="title-inner">
					<h1><img src="/images/title.svg" alt="JAGDA new designer awards exhibition"></h1>
					<h2><img src="/images/title-name.svg" alt="Aki Kanai / Masaki Hanahara / Takuma Fukuzawa"></h2>
					<h2><img src="/images/title-date.svg" alt="2018/5/24(THU)-6/26(TUE) CREATION GALLERY G8"></h2>
					<nav>
						<div class="wrapper">
						    <ul>
						    	<li><a href="#greeting">Greeting</a></li>
						    	<li><a href="#profile">Profile</a></li>
						    	<li><a href="#goods">Goods</a></li>
						    	<li><a href="#exhibition">Exhibition / Access</a></li>
						    	<li><a href="#event">Event</a></li>
						    </ul>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<section id="greeting">
			<div class="wrapper">
				<div class="content">
					<div class="greeting">
						<p>The Japan Graphic Designers Association Inc. (JAGDA), established in 1978, is one of Asia’s largest design organizations, its membership currently standing at some 3,000 designers. JAGDA undertakes a wide variety of activities aimed at enhancing the environment for communication through design. These include organization of exhibitions and seminars, promotion of design education, initiatives to foster public design and revitalize regions, international exchange, and publication of a yearbook: Graphic Design in Japan.</p>
						<p>Each year, from among the works selected for inclusion in Graphic Design in Japan. JAGDA presents the “JAGDA New Designer Awards” to promising designers under the age of 40 who are expected to be prominent in the field in the years to come. Since the awards were inaugurated in 1983, they have been bestowed on 107 designers now active at the very forefront of their profession. As a result, today the JAGDA New Designer Awards are considered a gateway to success, and their winners garner much attention among members of both the design and advertising fields.</p>
						<p>In 2018, after a rigorous selection process evaluating 152 eligible candidates, the 36th JAGDA New Designer Awards were presented to Aki Kanai, Masaki Hanahara and Takuma Fukuzawa. This exhibition will introduce their winning and recent works, with a focus on posters, product designs, small graphics and videos. Aki Kanai, an in-house designer at KOKUYO, performs a broad array of artistic activities, including design work for the company’s lifestyle shop and art direction of a design awards program. Masaki Hanahara, a designer at Shiseido, takes new forays into beauty and creation through design branding of the company and its products. Takuma Fukuzawa, working for the design company DRAFT, engages in product development and design of the in-house “D-BROS” brand, and also widely undertakes art direction of other companies’ advertising.</p>
						<p>The exhibition will present an insightful and entertaining overview of the design works of these three JAGDA New Design Award winners.</p>
					</div>
				</div>
			</div>
		</section>

		<section id="profile">
			<div class="wrapper">
				<div class="content">
					<div class="cv">
						<div class="cv_img">
							<img src="/images/cv-aki.jpg" alt="<%- site.name_aki %>">
						</div>
						<div class="cv_text">
							<p class="name_en">KANAI Aki</p>
							<p class="name_jp">金井あき</p>
							<p class="exp">
							Born in Tokyo in 1983. <br>
							In 2008, upon completing the Master’s Course in Design at Tokyo University of the Arts she joined KOKUYO.<br>
							Here, she is involved in shop and event art direction, spatial and signage planning, and in-house branding.<br>
							</p>
						</div>
						<div class="cv_works slide">
							<div><img class="w-145" src="/images/cv-aki-work1.png" alt="<%- site.name_aki %> works"></div>
							<div><img class="w-115" src="/images/cv-aki-work2.jpg" alt="<%- site.name_aki %> works"></div>
							<div><img class="w-115" src="/images/cv-aki-work3.jpg" alt="<%- site.name_aki %> works"></div>
						</div>
					</div>
					<div class="cv">
						<div class="cv_img">
							<img src="/images/cv-masaki.jpg" alt="<%- site.name_masaki %>">
						</div>
						<div class="cv_text">
							<p class="name_en">HANAHARA Masaki</p>
							<p class="name_jp">花原正基</p>
							<p class="exp">
							Born in Fukuoka Prefecture in 1979.<br>
							On graduating from the Graduate School of Kyushu Institute of Design in 2005, he joined the advertising department of Shiseido.<br>
							He performs art direction for the company’s corporate advertisements, its Maquillage brand, etc.<br>
							</p>
						</div>
						<div class="cv_works slide">
							<div><img class="w-115" src="/images/cv-masaki-work1.jpg" alt="<%- site.name_masaki %> works"></div>
							<div><img class="w-115" src="/images/cv-masaki-work2.jpg" alt="<%- site.name_masaki %> works"></div>
							<div><img class="w-115" src="/images/cv-masaki-work3.jpg" alt="<%- site.name_masaki %> works"></div>
						</div>
					</div>
					<div class="cv">
						<div class="cv_img">
							<img src="/images/cv-takuma.jpg" alt="<%- site.name_takuma %>">
						</div>
						<div class="cv_text">
							<p class="name_en">FUKUZAWA Takuma</p>
							<p class="name_jp">福澤卓馬</p>
							<p class="exp">
							Born in Tokyo in 1981.<br>
							He graduated from the Graphic Design course of Tama Art University in 2006, and joined DRAFT that same year.<br>
							</p>
						</div>
						<div class="cv_works slide">
							<div><img class="w-120" src="/images/cv-takuma-work1.jpg" alt="<%- site.name_takuma %> works"></div>
							<div><img class="w-120" src="/images/cv-takuma-work2.jpg" alt="<%- site.name_takuma %> works"></div>
							<div><img class="w-120" src="/images/cv-takuma-work3.jpg" alt="<%- site.name_takuma %> works"></div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="goods">
			<div class="wrapper">
				<div class="content">
					<p class="title-content"><span>Sales Products at Gallery</span></p>
					<div class="goods">
						<p class="goods_text">JAGDA新人賞2018測量野帳<br>￥500 　(excluding tax)</p>
						<figure class="w-105">
							<img src="/images/goods-yatyou-aki.png" alt="goods - JAGDA新人賞2018測量野帳">
							<figcaption>Aki Kanai</figcaption>
						</figure>
						<figure class="w-105">
							<img src="/images/goods-yatyou-masaki.png" alt="goods - JAGDA新人賞2018測量野帳">
							<figcaption>Masaki Hanahara</figcaption>
						</figure>
						<figure class="w-105">
							<img src="/images/goods-yatyou-takuma.png" alt="goods - JAGDA新人賞2018測量野帳">
							<figcaption>Takuma Fukuzawa</figcaption>
						</figure>
					</div>
					<div class="goods">
						<p class="goods_text">ZINE「Pi」　  ￥800 (excluding tax)</p>
						<img class="w-150" src="/images/goods-zine-pi1.jpg" alt="goods - ZINE「Pi」">
						<img class="w-150" src="/images/goods-zine-pi2.jpg" alt="goods - ZINE「Pi」">
					</div>
					<div class="goods">
						<p class="goods_text">THINK OF THINGS Campus Note<br>￥600 (excluding tax)</p>
						<img class="w-180" src="/images/goods-tot-note.jpg" alt="goods - THINK OF THINGS Campus Note">
					</div>
					<div class="goods">
						<p class="goods_text">THINK OF THINGS測量野帳<br>￥500 (excluding tax)</p>
						<img class="w-105" src="/images/goods-tot-yatyou1.png" alt="goods - THINK OF THINGS測量野帳">
						<img class="w-105" src="/images/goods-tot-yatyou2.png" alt="goods - THINK OF THINGS測量野帳">
					</div>
					<div class="goods">
						<p class="goods_text">BOOK COVER<br>4種　￥200  (excluding tax)</p>
						<img class="w-205" src="/images/goods-bookcover.jpg" alt="goods - BOOK COVER">
					</div>
					<div class="goods">
						<p class="goods_text">PHOTO BOOK　「Scenery」<br>2種  ￥1200  (excluding tax)</p>
						<img class="w-180" src="/images/goods-scenery.jpg" alt="goods - PHOTO BOOK　「Scenery」">
					</div>
					<div class="goods">
						<p class="goods_text">D-BROS「家紋PRODUCT」<br>風呂敷　￥15000 (excluding tax)</p>
						<img class="w-170" src="/images/goods-db-kamon1.jpg" alt="goods - D-BROS「家紋PRODUCT」">
						<img class="w-170" src="/images/goods-db-kamon8.jpg" alt="goods - D-BROS「家紋PRODUCT」">
					</div>
					<div class="goods">
						<p class="goods_text">D-BROS「家紋PRODUCT」<br>扇子　￥5500   (excluding tax)</p>
						<img class="w-170" src="/images/goods-db-kamon7.jpg" alt="goods - D-BROS「家紋PRODUCT」">
					</div>
					<div class="goods">
						<p class="goods_text">D-BROS「家紋PRODUCT」<br>ハンカチ　￥3500  (excluding tax)</p>
						<img class="w-170" src="/images/goods-db-kamon5.jpg" alt="goods - D-BROS「家紋PRODUCT」">
						<img class="w-170" src="/images/goods-db-kamon6.jpg" alt="goods - D-BROS「家紋PRODUCT」">
					</div>
				</div>
			</div>
		</section>

		<section id="exhibition">
			<div class="wrapper">
				<div class="content">
					<p class="title-content"><span>exhibition</span></p>
					<div class="inner">
						<p class="text">
						JAGDA New Designer Awards Exhibition 2018<br>
						金井あき・花原正基・福澤卓馬<br>
						CREATION GALLERY G8<br><br>
						会期：2018.05.24（Thu）- 06.26（Tue）<br>
						時間：11:00a.m.-7:00p.m.<br>
						日曜・祝日は休館　入場無料
						</p>
						<div class="map">
							<div class="map_embed"></div>
		                    <div class="map_caption">
		                    	<a href="https://www.google.co.jp/maps/place/%E3%82%AF%E3%83%AA%E3%82%A8%E3%82%A4%E3%82%B7%E3%83%A7%E3%83%B3%E3%82%AE%E3%83%A3%E3%83%A9%E3%83%AA%E3%83%BC+G8/@35.6684134,139.7570228,17z/data=!3m1!4b1!4m5!3m4!1s0x60188be93c9b0533:0x91e1dc8bf9cb12af!8m2!3d35.6684134!4d139.7592168" target="_blank">Google map</a>
		                    </div>
						</div>
						<p class="text">
						CREATION GALLERY G8<br>
						〒104-8001　東京都中央区銀座8-4-17<br>
						リクルートGINZA8ビル1F<br>
						TEL 03-6835-2260　<a href="http://rcc.recruit.co.jp/" target="_blank">http://rcc.recruit.co.jp/</a><br>
						</p>
					</div>
				</div>
			</div>
		</section>

		<section id="event">
			<div class="wrapper">
				<div class="content">
					<table class="tb_event">
						<thead>
							<tr>
								<th> </th>
								<th>event detail</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span>1</span></td>
								<td>
									<p class="event_title">オープニングパーティー</p>
									<p class="event_date">5月24日（Thu）19:00-20:30</p>
									<p class="event_note">参加無料<br><br></p>
								</td>
							</tr>
							<tr>
								<td><span>2</span></td>
								<td>
									<p class="event_title">ギャラリーツアー</p>
									<p class="event_date">5月31日（Thu）19:10-20:10</p>
									<p class="event_note">
									ギャラリーで実際に作品を鑑賞しながら、受賞者本人による解説や制作エピソードが聞ける貴重な機会です。<br><br>
									会場：クリエイションギャラリーG8　<br>
									定員: 40名　*要予約<br><br>
									参加無料</p>
									<a href="https://peatix.com/event/376607" target="_blank">https://peatix.com/event/376607</a>
								</td>
							</tr>
							<tr>
								<td><span>3</span></td>
								<td>
									<p class="event_title">クリエイティブサロン</p>
									<p class="event_date">6月14日（Thu）19:10-20:40</p>
									<p class="event_note">
									会場：CREATION GALLERY G8　<br>
									参加無料　要予約<br>
									出演：金井あき、花原正基、福澤卓馬、<br>
									葛西薫（ゲスト）　※敬称略<br>
									定員：100名<br><br>
									※ご予約はPeatixにて受付<br>
									<a href="http://ptix.at/Hd2ObQ" target="_blank">http://ptix.at/Hd2ObQ</a>
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>

		<section id="info">
			<div class="wrapper">
				<div class="content">
					<p>
					本展は大阪・新潟・熊本・愛知・滋賀に巡回を行います<br>
					（後日情報掲載予定）。
					</p>
				</div>
				<div class="sponsor">
					<div class="content">
						<h2>Organization</h2>
						<p>Cretion Gallery G8</p>
					</div>
					<div class="content">
						<h2>Co-organized</h2>
						<p>Japan Graphic Designers Association Inc. (JAGDA)</p>
					</div>
					<div class="content">
						<h2>Cooperation</h2>
						<p>
						KOYUYO K Heart Co., Ltd.<br>
						TAKEO Co., Ltd.<br>
						Poster Printing Co., Ltd.<br>
						SEIBIDO Co., Ltd.<br>
						</p>
					</div>					
				</div>
				<hr>
				<div class="content">
					<footer>
						<ul>
						    <li><a href="http://rcc.recruit.co.jp/g8/" target="_blank">
						    	<img width="22" src="/images/logo-g8.svg" alt="クリエイションギャラリーG8">
						    </a></li>
						    <li><a href="http://rcc.recruit.co.jp/" target="_blank">
						    	<img width="45" src="/images/logo-recruit.svg" alt="リクルート">
						    </a></li>
						    <li><a href="http://www.jagda.or.jp/" target="_blank">
						    	<img width="42" src="/images/logo-jagda.svg" alt="JAGDA">
						    </a></li>
						</ul>						
						<p class="copy">© 2018 Aki Kanai, Masaki Hanahara, Takuma Fukuzawa</p>
					</footer>
				</div>
			</div>			
		</section>

		<div class="wrapper_full">
			<div class="gotop">
				<a href="#">PAGE TOP</a>
			</div>
		</div>
	</div>

	<div class="magnifier"></div>

	<div class="lang">
		<div class="lang_btn"><a href="">LANGUAGE</a></div>
		<ul class="lang_select">
		    <li><a href="/">JAPANESE</a></li>
		    <li><a href="/en/">ENGLISH</a></li>
		    <li><a href="/zh-CN/">CHINESE</a></li>
		</ul>
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
	<script src="//maps.googleapis.com/maps/api/js?language=en&key=AIzaSyDzrwQaOOM7j3o0MLzdItGJPSiYbS1BdnU"></script>

	<script src="/js/index.js"></script>
	<script src="//typesquare.com/3/tsst/script/ja/typesquare.js?5ae1adaf49fc446792a82b3ee90393a3&fadein=-1" charset="utf-8"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=<%- site.ga %>"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', '<%- site.ga %>');
	</script>

	</body>
</html>
