@mixin absolute-fit {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

@mixin absolute-center {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

@mixin image-replacement {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;

	background-repeat: no-repeat;
}

@mixin border-box {
	box-sizing: border-box;
}

@mixin box-text-center( $height: 43px ) {
	display: table;
	width: 100%;
	height: $height;
	background: $color_green;
	
	span {
		display: table-cell;
		width: 100%;
		height: 100%;
		text-align: center;
		vertical-align: middle;
	}	
}

@mixin a-block {
	text-indent: -9999px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: block;
}

@mixin mediaMax( $max: 820px ) {
  @media (max-width: $max) {
    @content;
  }
}

@mixin mediaMin( $min: 820px ) {
  @media (min-width: $min + 1px) {
    @content;
  }
}
